<html>
<button onclick="func()">Hide/Show Geospat</button>


<div id="geoSpat" style="display: none">
    <object data="sentimentScatterGeo.html">
    </object>
</div>
This is an interactive visualization that allows you to zoom in and out and hover over data points to find actual sentiment values and coordinates. Blue indicates positive sentiment, red negative, and white/grey indicates neutral.

<script>
function func() {
    var x = document.getElementById("geoSpat");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
</html>